// vendor
@import './partials/variables.scss';
@import './partials/mixins.scss';

// font

// reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// typo

input {
    visibility: hidden;
}

.wrapper {
    margin: auto;
    border: 1px solid black; /*debug*/
    padding: 2rem;
}