// vendor
@import './partials/variables.scss';
@import './partials/mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,600;0,800;1,400;1,700&display=swap');

// font
body {
    font-family: 'Fira Sans', sans-serif;
    line-height: 1.6;
    color: #272727;
}

// reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// lists
ul {
    list-style: none;
}

// buttons
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: #fff;
    background-color: #1f1f1f;
    font-weight: bold;
    width: 142px;
    height: 45px;
    font-size: 18px;
    border-radius: 8px;
    transition: transform 150ms ease;
}
.btn:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

input {
    display: none;
}

.wrapper {
    margin: auto;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1200px;
    height: 500px;
    padding: 50px 70px;
    background: rgba(255, 255, 255, 0.375);
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

// responsive
// xl
@media screen and (max-width: 1300px) {
    .wrapper {
        width: 1000px;
        height: 440px;
    }
    .btn {
        width: 132px;
        height: 43px;
        font-size: 17px;
    }
}
// l
@media screen and (max-width: 1100px) {
    .wrapper {
        width: 800px;
        height: 440px;
        padding: 45px 65px;
    }
    .btn {
        width: 125px;
        height: 40px;
        font-size: 16px;
    }
}
// m
@media screen and (max-width: 870px) {
    .wrapper {
        width: 600px;
        height: 510px;
        padding: 45px 65px;
    }
}