// vendor
@import './partials/variables.scss';
@import './partials/mixins.scss';

// font

// reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// typo

input {
    visibility: hidden;
}

.wrapper {
    margin: auto;
    width: 1140px;
    min-height: 60%;
    padding: 4rem 3rem;
    background: rgba(255, 255, 255, 0.375);
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
    text-align: center;
}